.social-media {
    display: flex;
    align-items: center;
    margin-top: $block-gutter-horizontal;
}

.social-media__icon {
    position: relative;
    width: 20px;
    height: 20px;

    &:not(:last-child) {
        margin-right: 20px;
    }

    a {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}

.social-media__linkedin {
    @include icon__linkedin;
}

.social-media__github {
    @include icon__github;
}

.social-media__phone {
    @include icon__phone;
}

.social-media__email {
    @include icon__email;
}

.social-media__share {
    @include icon__share;
}

.social-media__bookmark {
    @include icon__bookmark;
}
