.card {
    position: relative;
    margin-bottom: $block-gutter-horizontal;
    @include text-thin;
}

.card__text {
    margin: 0;
}

.card__header {
    margin-bottom: 10px;
}

.card__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
