.home-series__view-all {
    float: right;
    width: 100px;
    @include icon__arrow-down;

    &::after {
        transform: rotate(-90deg) translateX(-4px);
        transition: all $transition;
        margin-left: 10px;
    }

    &:hover::after {
        transform: rotate(-90deg) translate(-4px, 10px);
    }
}

.home-series__header {
    margin-bottom: $block-gutter-horizontal;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-black;
}
