.rc-card {
    position: relative;
    @include text-thin;
    line-height: (25 / 16);
}

.rc-card:not(:only-child) {
    margin-bottom: $spacing-xl;
}

.rc-card__text {
    margin: 0;
    max-width: 500px;
}

.rc-card__header {
    margin-bottom: 10px;
}

.rc-card__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
