.primary-menu {
    height: 60px;
    position: relative;

    @include breakpoint(small only) {
        border-bottom: 1px solid $color-black;
    }

    @include breakpoint(medium) {
        height: 80px;
    }
}

.primary-menu__items-left {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: all $transition;

    @include breakpoint(small only) {
        display: block;
        height: auto;
        min-height: calc(100vh - 60px - 80px);
        width: calc(100% - 80px);
        position: absolute;
        top: 61px;
        left: calc(-100% - 10px);
        padding: $block-gutter 40px;
        background-color: $color-bg;
    }

    @include breakpoint(medium) {
        border-bottom: 1px solid $color-black;
    }

    & > li {
        position: relative;

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
        }

        & > a {
            // first level link
            display: inline-block;
            vertical-align: middle;
            margin-right: $block-gutter;

            @include text-m;

            @include breakpoint(small only) {
                @include upper-case;
            }
        }
    }

    & .menu-item-has-children .sub-menu {
        display: none;
    }
}

/**
 * Menu button mobile
 */

#primary-menu__menu-button {
    @include vertical-center;
}

.primary-menu__menu-button-cell {
    position: relative;
    height: 100%;
    width: 100px;
    display: block;
    cursor: pointer;
}

/**
 * Mobile open menu
 */

.primary-menu--open .primary-menu__items-left {
    @include breakpoint(small only) {
        left: 0;

        & > li {
            margin: $block-gutter 0;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                transition: all $transition;
            }

            > a {
                margin-right: 0;
                justify-content: left;
            }
        }

        & li.is-open::after {
            transform: rotate(180deg);
        }

        & .menu-item-has-children {
            @include icon__arrow-down;
        }

        & .menu-item-has-children.is-open .sub-menu {
            display: block;
        }
    }
}

.sub-menu li {
    margin: 20px 0px;
    @include text-m;
    @include capitalize;
}

/**
 * Icons
 */
.primary-menu__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > div {
        margin: 0px 10px;
        cursor: pointer;
    }
}

.primary-menu__hamburger {
    @include icon__menu;
    height: 20px;
    width: 20px;
}

.primary-menu--open .primary-menu__hamburger {
    height: 20px;
    width: 20px;
    @include icon__cancel;
}

.primary-menu__color-mode {
    height: 20px;
    width: 20px;
    @include icon__sun;
}

.primary-menu__search {
    height: 20px;
    width: 20px;
    @include icon__moon;
}
