.accordion__header {
    padding: 10px 0px;
    cursor: pointer;

    @include breakpoint(medium) {
        padding: 0;
    }
}

.accordion__header .has-text-align-right {
    @include breakpoint(small only) {
        text-align: left;
    }
}

.accordion__header p {
    font-size: 14px;
}

.accordion__header h6 {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.accordion__header .wp-block-column > * {
    line-height: 1;
}

@if ($editor) {
    .accordion__header > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .accordion__header .block-list-appender {
        margin: 0;
    }
}
