.section-header {
    grid-template-columns: 0.5fr 0.5fr;
}

.section-header__button {
    display: flex;
    flex-direction: row-reverse;
}

.section-header__header {
    display: flex;
    align-items: center;
}

div[data-type='rc/section-header'] {
    grid-column: 1 / -1;
    margin: 0;
    &.block-editor-block-list__block.wp-block {
        width: 100%;
    }

    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;

        > * {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }
}
