.selectable-categories__form-wrapper {
	margin-bottom: $spacing-l;
}

.selectable-categories__section {
	position: relative;
}

.selectable-categories__section:hover .selectable-categories__title {
	text-decoration: underline;
}

.selectable-categories__clear-search-btn {
	display: flex;
	align-items: center;
}

.selectable-categories__excerpt {
	margin-bottom: 0;
}