.wp-block-group {
    &.is-style-xs {
        margin-bottom: 10px;
    }

    &.is-style-s {
        margin-bottom: 20px;
    }

    &.is-style-m {
        margin-bottom: 40px;
    }

    &.is-style-l {
        margin-bottom: 60px;
    }

    &.is-style-xl {
        margin-bottom: 80px;
    }
}
