.six-latest-posts__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.six-latest-posts__card {
    box-sizing: border-box;
    width: 100%;

    @include breakpoint(medium) {
        width: 50%;
        padding-right: $block-gutter;
    }

    @include breakpoint(large) {
        width: 33.333%;
    }

    @include breakpoint(xlarge) {
        width: 25%;
    }
}

.six-latest-posts__card-header {
    margin: 60px 0px 0px 0px;
}

.six-latest-posts__card-tags {
    border-top: 1px solid $color-black;
    margin-top: 20px;
    padding-top: 10px;
}

.six-latest-posts__card p {
    margin: 30px 0px 0px 0px;
}
