$color-black: black;
$color-white: white;
$color-light-grey: #dadada;
$color-grey: grey;

$color-bg: #f2f2f2;
$color-bg-dark-mode: darkgrey;

$font-color: $color-black;
$font-color-dark-mode: $color-white;
