body,
html {
    margin: 0;
    min-height: 100%;
    height: 100%;

    background-color: $color-bg;
    color: $font-color;
}

body.is-logged--admin {
    margin-top: 32px;
}

body.is-dark-mode {
    background-color: $color-bg-dark-mode;
    color: $font-color-dark-mode;
}

ul {
    list-style: none;
}

.content {
    padding: 0px $body-margin-mobile;

    @include breakpoint(medium) {
        padding: 0px $body-margin-medium;
    }

    @include breakpoint(large) {
        padding: 0px $body-margin-large;
    }
}

.alignwide {
    max-width: $block-width-wide;
    margin-left: auto;
    margin-right: auto;
}

.alignlarge {
    width: 100%;
}

.alignfull {
    width: calc(100% + (2 * #{$block-gutter}));
    margin-left: calc(-1 * #{$block-gutter});
}

.sub-menu {
    padding-left: 10px;
}

.section {
    margin: 80px 0px;
}

.section:first-child:not(:only-child) {
    margin-top: 0;
}

.section:last-child:not(:only-child) {
    margin-bottom: 0;
}

a.cover-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

a,
a:active,
a:focus,
input[type]:focus,
input[type]:active {
    border: 0;
    outline: 0;
    box-shadow: none;
}

code {
    @include inlinecode;
}

kbd {
    white-space: nowrap;
}
