@mixin rc-section {
    margin-top: 64px;
    margin-bottom: 64px;
}

@mixin button {
    background-color: transparent;
    text-decoration: none;
    color: $color-black;
    border-radius: 0;

    &:hover,
    &:active,
    &:visited {
        background-color: transparent;
        text-decoration: none;
        color: $color-black;
    }
}

@mixin icon {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@mixin icon__arrow-down {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M8 8h4v4H8zM12 4h4v4h-4zM4 4h4v4H4zM0 0h4v4H0zM16 0h4v4h-4z'/%3E%3C/svg%3E");
        width: 20px;
        height: 12px;
    }
}

@mixin icon__menu {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M20 12H0V8h20zM20 20h-4v-4h4zM20 4h-4V0h4zM4 20H0v-4h4zM4 4H0V0h4z'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
    }
}

@mixin icon__cancel {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12 12H8V8h4zM8 16H4v-4h4zM8 8H4V4h4zM16 16h-4v-4h4zM16 8h-4V4h4zM20 20h-4v-4h4zM20 4h-4V0h4zM4 20H0v-4h4zM4 4H0V0h4z'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
    }
}

@mixin icon__sun {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 20H4v-4h12v4zM16 4H4V0h12v4zM4 16H0V4h4zM20 16h-4V4h4v12z' fill='%23000'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
    }
}

@mixin icon__moon {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 20H4v-4h12v4zM16 4H4V0h12v4zM4 16H0V4h4zM20 16H8V4h12v12z' fill='%23000'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
    }
}

@mixin icon__search {
    @include icon;
    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M20.5302 23.3586l-2.9525-2.9525 2.8284-2.8285 2.9525 2.9526zM9.1716 23.3137L.6864 14.8284 3.5148 12 12 20.4853l-2.8285 2.8284zM20.4854 12l-8.4853-8.4853L14.8285.6863l8.4853 8.4853L20.4854 12zM3.5146 12L.6862 9.1715 9.1715.6863l2.8284 2.8284z'/%3E%3Cpath d='M14.8284 23.3137l-2.8285-2.8284L20.4852 12l2.8285 2.8284-8.4853 8.4853z' fill='%23000'/%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
    }
}

/**
 * Text
 */

@mixin text-xs {
    font-size: 12px;
}

@mixin text-s {
    font-size: 14px;
}

@mixin text-m {
    font-size: 16px;
}

@mixin text-l {
    font-size: 20px;
}

@mixin text-thin {
    font-weight: 300;
}

@mixin text-regular {
    font-weight: 500;
}

@mixin text-medium {
    font-weight: 400;
}

@mixin text-bold {
    font-weight: 600;
}

@mixin upper-case {
    text-transform: uppercase;
}

@mixin capitalize {
    text-transform: capitalize;
}

@mixin tag {
    @include text-s;
}
