@import 'util/util';

$block-gutter: rem-calc(40);
$block-gutter-horizontal: rem-calc(20);
$block-width: 700px;
$block-width-wide: 1200px;

/* Breakpoints */
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge);

$body-margin-mobile: 10px;
$body-margin-medium: 40px;
$body-margin-large: 80px;

/* Transitions */
$duration: 0.5s;
$duration-fast: 0.25s;
$easing: cubic-bezier(0, 0.6, 0.7, 1);
$transition: $duration $easing;
$transition-fast: $duration-fast $easing;

/* Foundation variables */
$grid-margin-gutters: (
    small: 20,
    medium: 40,
);
