body {
    @include font-raleway-regular;
    @include text-m;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: $font-color;
}

.is-dark-mode {
    a,
    a:hover,
    a:active,
    a:visited {
        text-decoration: none;
        color: $font-color-dark-mode;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
    @include font-raleway-medium;
}

h1,
.h1 {
    @include h1;
}

h2,
.h2 {
    @include h2;
}

h3,
.h3 {
    @include h3;
}

h4,
.h4 {
    @include h4;
}

h5,
.h5 {
    @include h5;
}

h6,
.h6 {
    @include h6;
}

p {
    margin-bottom: 0;
    @include text-m;
}

.icon {
    color: $font-color;
    fill: $font-color;
}

.text-s {
    @include text-s;
}

.text-m {
    @include text-m;
}

.text-l {
    @include text-l;
}

.text-thin {
    @include text-thin;
}

.text-regular {
    @include text-regular;
}

.text-medium {
    @include text-medium;
}

.text-bold {
    @include text-bold;
}
