.home__hero {
    margin: 100px 0px;
    line-height: (48 / 48);
    font-weight: 900;
    text-transform: uppercase;

    @include breakpoint(medium) {
        line-height: (80 / 80);
    }
}

.home__tags {
    margin: 20px 0px;
}

.home__tags-header {
    @include text-thin;
    line-height: (14 / 14);
    height: 14px;
}

.home__tags-list {
    margin-top: 16px;
    min-height: 50px;
    a {
        @include text-s;
        text-decoration: underline;
        margin-right: $block-gutter-horizontal;
    }
}

/** 
 * Home Section
 */

.home-section {
    border-top: 1px solid $font-color;
}

.home-section:not(:last-child):not(:only-child) {
    margin-bottom: 50px;
}

.home-section__body {
    display: flex;
    column-gap: $block-gutter;
    row-gap: $block-gutter-horizontal;
    flex-wrap: wrap;
}

.home-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin: 20px 0;

    @include breakpoint(medium) {
        margin-top: 50px;
        margin: 50px 0;
    }
}

.home-section__header > * {
    font-size: 14px;
    font-weight: 400;
}

.home-section .post-card {
    margin-bottom: 0;
}
