.home__hero {
    margin: 100px 0px;
    line-height: (48 / 48);
    font-weight: 900;
    text-transform: uppercase;

    @include breakpoint(medium) {
        line-height: (80 / 80);
    }
}

.home__tags {
    margin: 20px 0px;
}

.home__tags-header {
    @include text-thin;
    line-height: (14 / 14);
    height: 14px;
}

.home__tags-list {
    margin-top: 16px;
    min-height: 50px;
    a {
        @include text-s;
        text-decoration: underline;
        margin-right: $block-gutter-horizontal;
    }
}

.home__social-media {
    display: flex;
    flex-direction: column;
}

.home__social-media .social-media {
    position: sticky;
    top: 50px;
}

.home__social-media h2 {
    text-align: right;
    margin-bottom: $block-gutter-horizontal;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-black;
}
